<h1>Hi {{user.username}}!!!</h1>

{{#links}}
  <div class="link">

    <div class="votes">
      <form class="" action="/links/{{_id}}/upvote" method="post">
        <button type="submit" name="button"><i class="fa fa-arrow-up"></i></button>
      </form>

      <span>{{totalLikes}}</span>

      <form class="" action="/links/{{_id}}/downvote" method="post">
        <button type="submit" name="button"><i class="fa fa-arrow-down"></i></button>
      </form>

    </div>
    <div class="details">
      <h3>
          {{title}}
          <small> - {{username}}</small>
          {{#createdByCurrentUser}}
          -- <a href="/links/{{_id}}/edit">Edit</a>
          {{/createdByCurrentUser}}
      </h3>
      <blockquote cite="http://">
        {{excerpt}}
      </blockquote>
    </div>

  </div>
{{/links}}
